body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5;
}

section.fonts {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #FFECD6;
  pointer-events: none;
  mix-blend-mode: difference;
}

